/* GENERAL STYLING */
# {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
}

/* HEADER */
.header-container {
  border-bottom: 1px solid #d8d8d8;
  background-color: #ffffff;
}
#toggle-button {
  padding: 1.5em;
  background-color: #f3f3f3;
}
.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.logo {
  padding: 1.5em;
  font-weight: bold;
}

/* MAIN CONTENT */
/* sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: calc(100vh - 4.6875em);
  overflow-y: hidden;
  background-color: #ffffff;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}
/* header */
.sidebar-header {
  color: #ffffff;
  text-align: justify;
}
.sidebar-header > p {
  padding: 3.5em 1.5em;
  background-color: #252525;
  margin: 0;
}
/* filter */
.sidebar-filter {
  padding: 1.5em;
  border-bottom: 1px solid #d8d8d8;
  color: #252525;
  background-color: #ffffff;
}
.sidebar-filter > span{
  margin: 10px 5px 5px 0px;
}
/* dropdown */
.category-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.category-dropdown select {
  margin: 0;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  background-color: #7dcdcd;
  color: #ffffff;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: inherit;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.category-dropdown::before,
.category-dropdown::after {
  position: absolute;
  content: "";
  pointer-events: none;
}
.category-dropdown::after { /*  Custom dropdown arrow */
  height: 1em;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  content: "\25BC";
  font-size: .625em;
  line-height: 1;
}
.category-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}
.category-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}
.category-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}
.category-dropdown::before {
  background-color: rgba(0,0,0,.15);
}
.category-dropdown::after {
  color: rgba(0,0,0,.4);
}
/* results */
.sidebar-results {
  overflow: auto;
  height: calc(100vh - 19.625em);
  padding: 1.5em 1em;
  list-style: none;
}
.sidebar-results__item {
  padding: 0.5em;
  cursor: pointer;
}
.sidebar-results__item:hover {
  background-color: #f4f4f4;
}

/* page content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0;
}
#map {
  height: calc(100vh - 4.6875em);
}
/* infowindow */
.gm-style .gm-style-iw {
  width: 200px !important;
  height: 275px !important;
  overflow-y: scroll;
}
.infowindow-image {
  height: 150px;
  width: 100%;
  background-position: center;
}
.infowindow-title {
  padding: 0.4em 0em;
}
.infowindow__badge {
  padding: 0.5em;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 0.5em;
  background-color: #c7c7c7;
  color: #ffffff;
}
.infowindow-rating {
  background-color: #25d692;
}
.infowindow-description {
  margin: 1.2em 0;
  padding: 0.5em 0;
  border-top: 1px solid #dedede;
  font-size: 1.2em;
  line-height: 1.4em;
}
.infoWindow.attribuition > img {
  height: 10px;
}
/* animation sidebar is visible */
#wrapper.menu--visible #sidebar-wrapper {
  width: 95%;
  border-right: 1px solid #d8d8d8;
}
#wrapper.menu--visible #page-content-wrapper {
  padding-left: 0;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}

/* Responsive Styling */
@media only screen and (min-width: 480px) {
  #wrapper.menu--visible #sidebar-wrapper {
    width: 60%;
  }
  #wrapper.menu--visible #page-content-wrapper {
    padding-left: 60%;
  }
}
@media only screen and (min-width: 768px) {
  #wrapper.menu--visible #sidebar-wrapper {
    width: 40%;
  }
  #wrapper.menu--visible #page-content-wrapper {
    padding-left: 40%;
  }
  .infowindow-title {
    padding: 0.7em 0em;
  }
}
@media only screen and (min-width: 1280px) {
  #wrapper.menu--visible #sidebar-wrapper {
    width: 25%;
  }
  #wrapper.menu--visible #page-content-wrapper {
    padding-left: 25%;
  }
  .gm-style .gm-style-iw {
    width: 600px !important;
  }
}
